<div class="container">



  <div *ngIf="usuarioForm.invalid && usuarioForm.touched" class="alert alert-danger">
    Preencha todos os campos corretamente!
  </div>
  <form autocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" name="primeiroNome"
      [(ngModel)]="cliente.nome" required minlength="3" #nome="ngModel">

      <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
      <div *ngIf="nome.hasError('minlength') && nome.touched">O Nome deve ser completo</div>
    </div>

    <div class="mb-3">
      <label class="form-label">E-mail</label>
      <input type="text" class="form-control" name="emailAddress"
      [(ngModel)]="cliente.email" email #email="ngModel">

      <div *ngIf="email.invalid && email.touched">Informe um email válido</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Profissão</label>
      <select class="form-control" name="profissao"
       [(ngModel)]="cliente.profissao" required #profissao="ngModel">
        <option value="">Selecione</option>
        <option *ngFor="let profissao of profissoes"
          [value]="profissao">{{ profissao }}</option>
      </select>

      <div *ngIf="profissao.invalid && profissao.touched">Informe uma Profissão</div>
    </div>

    <button type="submit" class="btn btn-primary"
      [disabled]="!usuarioForm.valid">Salvar</button>
  </form>

</div>
